<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
     <input type="text" name="Team Name:" value="name">
     <input type="text" name="Coach:" value="coach">
     <input type="text" name="Point Guard:" value="pg">
     <input type="text" name="Shooting Guard:" value="sg">
     <input type="text" name="Power Forward:" value="pf">
     <input type="text" name="Small Forward:" value="sf">
     <input type="text" name="Center:" value="c">
     <input type="submit" name="Submit" value="submit" id="submit">
    </form>
 </body>
</html>
